<ion-view title="GM">

    <ion-content class="padding">

        <div class="list">

            <a class="item item-icon-left" href="#" ng-repeat="concepto in conceptos">
                <i class="icon {{concepto.icono}}" ng-class="{balanced: concepto.frecuencia == 'MES', positive: concepto.frecuencia == 'DIA'}" ></i>
                {{concepto.nombre}} 
                <span class="item-note">
                    ${{concepto.monto}}
                </span>
            </a>

        </div>

    </ion-content>
</ion-view>