<ion-view title="Account">
    <ion-content class="padding">
        <h1>Cuenta</h1>

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="Nombre" ng-model="usuario.nombre">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="usuario.email">
            </label>
        </div>
    </ion-content>
</ion-view>
